[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mic-off:before {
  content: '\e926';
}
.icon-video-off:before {
  content: '\e925';
}
.icon-eye-lined:before {
  content: '\e924';
}
.icon-warning:before {
  content: '\e920';
}
.icon-draft:before {
  content: '\e921';
}
.icon-document:before {
  content: '\e923';
}
.icon-stopwatch:before {
  content: '\e90d';
}
.icon-bank:before {
  content: '\e915';
}
.icon-sync:before {
  content: '\e916';
}
.icon-close-circle:before {
  content: '\e90e';
}
.icon-banned:before {
  content: '\e90f';
}
.icon-check-circle:before {
  content: '\e912';
}
.icon-question:before {
  content: '\e922';
}
.icon-pen:before {
  content: '\e91f';
}
.icon-key:before {
  content: '\e908';
}
.icon-print:before {
  content: '\e91c';
}
.icon-delete:before {
  content: '\e91e';
}
.icon-more:before {
  content: '\e91d';
}
.icon-eye:before {
  content: '\e907';
}
.icon-hand:before {
  content: '\e919';
}
.icon-call:before {
  content: '\e90b';
}
.icon-mic:before {
  content: '\e91b';
}
.icon-group:before {
  content: '\e90c';
}
.icon-videocam:before {
  content: '\e913';
}
.icon-grid:before {
  content: '\e917';
}
.icon-screen:before {
  content: '\e91a';
}
.icon-user:before {
  content: '\e902';
}
.icon-sorting:before {
  content: '\e900';
}
.icon-trending:before {
  content: '\e901';
}
.icon-dollar-sign:before {
  content: '\e904';
}
.icon-red-arrow:before {
  content: '\e905';
}
.icon-bars:before {
  content: '\e906';
}
.icon-arrowButton:before {
  content: '\e903';
}
.icon-arrowLeft:before {
  content: '\e909';
}
.icon-calander:before {
  content: '\e90a';
}
.icon-mark:before {
  content: '\e910';
}
.icon-message:before {
  content: '\e911';
}
.icon-search:before {
  content: '\e914';
}
.icon-Lock:before {
  content: '\e918';
}
