.container-fluid {
  padding-right: 24px;
  padding-left: 24px;
}

.wrapper {
  background: $wrapperDarkBg;
  padding: 15px;
  border-radius: 12px;
  color: white;
  height: 100%;

  &.light-grey {
    background: $bodyBg;
    border-radius: 18px;
  }
  &.auto-height {
    height: auto;
  }
}
