// Primary Colors
$primaryBlue: #2b50ed;
$fadedBlue: #d6dcf6;

$black0: #000000;
$black: #010101;
$white: #fff;
$bodyBg: #404046;
$wrapperDarkBg: #1b1b1b;
$tableCellDarkBg: #363636;
$tableCellLightBg: #505050;
$GreyColor: #e8e8e8;
$lightGreyColor: #979797;
$green: #83ff00;
$darkGreen: #6dd400;
$lightRed: #f04e31;
$red: #e02020;
$blue: #0091ff;
$orange: #ff5c3f;
$yellow: #F7B500;
$iconFont: 'icomoon' !important;
$bodyFont: 'Helvetica' !important;
