.login-page {
  background: url('../images/login-bg.jpg') no-repeat top center;
  background-size: cover;
  position: relative;
  height: 100vh;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  .login {
    width: 477px;
    background: #1c1c1c;
    border-radius: 36px;
    margin: auto;
    position: absolute;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 24px 30px rgba($color: #000000, $alpha: .13);

    label {
      color: white;
    }

    img {
      height: 44px;
      margin: 70px auto 50px;
    }

    .form {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;

      .btn {
          width: 150px;
      }
    }
  }
}
